/* .Missions{width:200px;height:200px;
    background:red;
    position: relative;}
    

.Missions::before{
    content:"";
    opacity:0.5;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
}


    
   */

.Missions{
    width:140%;
    position:relative
}

.Title{
    color : rgb(255, 179, 0);
    /* background-color: black; */
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

.Title10{
    color : rgb(255, 179, 0);
    /* background-color: black; */
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}
.Mission h1{
    color: blue;
    text-align: center;
    width:140%;
    font-weight: bold;
    background-color: green;
    margin: 5px;
    z-index: 2;

}

.Mission2 h1{
    color: black;
    text-align: center;
    width:140%;
    font-weight: bold;
    background-color: gray;
    margin: 5px;


}