



.peoplelist {

    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: 100%;
    /* background-color: blue; */
    /* background-image: url('/public/galaxy.jpg'); */
    padding: 100px;
    position : absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* margin-top: 2%; */
    justify-content: center;
    
}

.peoplelist::before{
    content:"";
    opacity:0.1;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: white;
    margin:7%;
}
.people {
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: 90%;
    background-color: white;
    position: relative;
    margin-left:2%;
    margin-right:2%
}
.people::before{
    content:"";
    opacity:0.9;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
}

.canvasPerson {
    margin : 2%;
    background-color: white;
    width:16% ;
    position: relative;
    height:40%;
}


.canvasPerson::before{
    content:"";
    opacity:0.8;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
}

  /* .Earth {
    position: relative;
  } */
  /* .canvasEarth {
    position: absolute;
    left:450px;
  } */
  
  
  
  @media (min-width: 1280px) {
    .App {
      width: 1270px;
    }
  }
  
  @media (max-width: 1280px) {
    .App {
      width: 95vw;
    }
  }
  
  #root {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
  }
  