body {
  background: linear-gradient(#011d29, #08183c);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "BinggraeBold", "Arial", "sans-serif";
}

@media (min-width: 1180px) {
  .App {
    width: 1270px;
  }
}

@media (max-width: 1180px) {
  .App {
    width: 98vw;
  }
}

@media (min-height: 720px) {
  .App {
    height: 710px;
  }
}

@media (max-height: 720px) {
  .App {
    height: 98vh;
  }
}

#root {
  background: linear-gradient(#1d3a72, #076fa6);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.App {
  padding-left: 20px;
  padding-right: 20px;
}
