body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0px;
  font-family: "BinggraeBold";
}

@media (min-width: 1280px) {
  .App {
    width: 1270px;
  }
}

@media (max-width: 1280px) {
  .App {
    width: 98vw;
  }
}

@media (min-height: 720px) {
  .App {
    height: 710px;
  }
}

@media (max-height: 720px) {
  .App {
    height: 98vh;
  }
}

#root {
  background-color: #fff8e1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  height: 720px;
  min-height: 100%;
}
