@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.MissionInfoPage{
    @apply bg-blue-100  p-2 h-full w-full rounded-md ;
}
.MissionForm{
    @apply h-full;
}
.MissionTitle {
    @apply flex flex-col  justify-center items-center  mt-2 border-4 border-black bg-white h-16 rounded-md text-3xl;
}

.Info{
    @apply flex flex-col  justify-center items-center space-y-20  mt-3 border-4 border-black  bg-white rounded-md;
}

.MissionImage {
    @apply flex justify-evenly my-4 h-1/4 space-x-6  ;
}

.MissionImage1 {
    @apply h-64 w-96 mr-8 rounded-md;
}
.MissionImage2 {
    @apply h-64 w-96 ml-8 rounded-md;
}

.MissionContents {
    @apply  max-w-screen-lg  pb-8 ;
}

.Select {
    @apply flex justify-between my-4 ;
}

.Select1{
    @apply border-4 border-black bg-white pb-12 rounded-md h-8 p-2 text-3xl ml-40;
}

.Select2{
    @apply border-4 border-black bg-white pb-12 rounded-md h-8 p-2 text-3xl mr-72;

}
