.btn {
  color: white;
}

.Earth {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}

.Earth::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(42, 42, 42);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
  border-radius: 10px;
}

.canvasProfile::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
  border-radius: 10px;
}

.Rocket {
  position: relative;
  width: 50px;
  margin-left: 3%;
  transform: rotate(15deg);
  top: 7px;
}
.start {
  width: 50px;
  position: absolute;
  left: 7%;
  z-index: 3;
  top: 7px;
}
.end {
  width: 50px;
  position: absolute;
  left: 84%;
  z-index: 3;
  top: 7px;
}
.characterInfo {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 10px;
  z-index: 4;
  font-size: 18px;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  top: 13px;
  margin-left: 10%;
  position: relative;
}

progress::-webkit-progress-bar {
  background-color: white;
}

progress::-webkit-progress-value {
  background-color: green;
}
progress::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 7%;
}




.canvasEarth {
  /* background-color: black; */
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 100;
}
.canvasAstronaut {
  /* background-color: black; */
  width: 18%;
  height: 54%;
  position: absolute;
  top: 42%;
  left: 77%;

  z-index: 100;
}

.balloon {
  position: relative;
  background: white;
  border-radius: 0.4em;
  line-height: 30px;
  top: 10px;
  right: 40px;
  width: 150px;
  height: 40px;
  float: right;
  margin-right: 0px;
  text-align: center;

  padding: 5px;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 40%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.balloon {
  animation: blink-effect 4s step-end infinite;
  animation-duration: 4s;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.badges {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  /* background-color: white; */
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
}
.badges::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 5px;
}
.badgeImg_unlocked {
  width: 80px;
  height: 80px;
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -40px;
  position: relative;
}
.badgeImg_unlock {
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 5px;
  position: relative;
}
.badgeImg_unlock::before {
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  border-radius: 5px;
}
.badgeImage {
  height: 80px;
  width: 80px;
  padding-top: 10px;
  margin: auto;
}

.badgeImg {
  height: 100px;
  width: 100px;
  margin: 5px;
  position: relative;
}
.badgeImg::before {
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  z-index: 20;
  border-radius: 5px;
}

.lockImg {
  margin-left: 15%;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 6px;
  left: 0px;
  z-index: 200;
}

.canvasBadge {
  margin: 2%;
  /* background-color: white; */
  width: 16%;
  position: relative;
  height: 40%;
}
.canvasBadge::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth2 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth2::before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile2 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(69, 69, 69);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}
.canvasProfile2::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}
.Rocket {
  position: relative;
  width: 50px;
  margin-left: 3%;
  transform: rotate(15deg);
}
.start {
  width: 50px;
  position: absolute;
  left: 7%;
  z-index: 3;
  margin: 0.5%;
}
.end {
  width: 50px;
  position: absolute;
  left: 84%;
  z-index: 3;
  margin: 0.5%;
}

.characterInfo2 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  position: relative;
}

progress::-webkit-progress-bar {
  background-color: white;
}

progress::-webkit-progress-value {
  background-color: green;
}
progress::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 7%;
}


.info2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info2::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth3 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth3::before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile3 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(88, 88, 88);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}

.canvasProfile3::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}
.characterInfo3 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info3::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth4 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth4::before {
  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile4 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(180, 180, 180);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}
.canvasProfile4::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}

.characterInfo4 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info4::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth5 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth5::before {
  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile5 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}

.canvasProfile5::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}

.characterInfo5 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info5::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup5 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth6 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth6::before {
  content: "";
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile6 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}
.canvasProfile6::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}

.characterInfo6 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info6::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup6 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth7 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}
.Earth7::before {
  content: "";
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile7 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}

.canvasProfile7::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}
.characterInfo7 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info7 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info7::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.Earth8 {
  @apply bg-[url("/public/assets/images/galaxybg.png")] relative h-184 rounded-lg;
}

.Earth8::before {
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* background: linear-gradient(black, rgb(5, 5, 67)); */
}

.canvasProfile8 {
  width: 200px;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: solid;
  border-color: rgb(255, 179, 0);
}

.canvasProfile8::before {
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(black, rgb(5, 5, 67));
}
.characterInfo8 {
  font-weight: bold;
  color: white;
  size: 115px;
  text-align: center;
  margin: 2px;
  z-index: 4;
}

.info8 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 95px;
  padding-bottom: 110px;
  padding-left: 95px;
  padding-right: 95px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-top: 3%;
}

.info8::before {
  content: "";
  opacity: 0.1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  margin: 6.5%;
  border-radius: 10px;
}

.infogroup8 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
