/* .Missions{width:200px;height:200px;
    background:red;
    position: relative;}
    

.Missions::before{
    content:"";
    opacity:0.5;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
}


    
   */

.Missions{
    width:130%;
    position:relative;
    justify-content: center;
    text-align: center;
  
}

.Title{
    color : rgb(255, 179, 0);
    /* background-color: black; */
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    text-align: center;

}

.Title10{
    color : rgb(255, 179, 0);
    /* background-color: black; */
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    text-align: center;

}
.Mission1 h1{
    color: rgb(53, 53, 232);
    text-align: center;
    width:100%;
    font-weight: bold;
    background-color: rgb(36, 190, 36);
    margin-top:10px;
    z-index: 2;
    justify-content: center;
    text-align: center;
    
    

}

.Mission2 h1{
    color: black;
    text-align: center;
    width:100%;
    font-weight: bold;
    background-color: gray;
    margin-top:10px;
    justify-content: center;
    text-align: center;
    text-decoration:line-through;
}

.Mission3 h1{
    color: white;
    margin-top:10px;
    background-color: rgb(12, 12, 13);
    height:60px;
    line-height: 60px;
}