/* .Missions{width:200px;height:200px;
    background:red;
    position: relative;}
    

.Missions::before{
    content:"";
    opacity:0.5;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: black;
}


    
   */

.Missions {
  width: 270px;
  position: relative;
  justify-content: center;
  text-align: center;
}

.Title {
  color: rgb(255, 179, 0);
  /* background-color: black; */
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
}

.Title10 {
  color: rgb(255, 179, 0);
  /* background-color: black; */
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.Mission1 h1 {
  color: #fdfdfd;
  text-align: center;
  font-size: 16px;
  width: 275px;
  font-weight: bold;
  background-color: rgb(36, 190, 36);
  margin-bottom: 10px;
  z-index: 2;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.Mission2 h1 {
  color: black;
  text-align: center;
  width: 270px;
  font-weight: bold;
  background-color: gray;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  text-decoration: line-through;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}

.Mission3 h1 {
  color: #fdfdfd;
  margin-bottom: 10px;
  background-color: rgb(12, 12, 13);
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  font-size: 18px;
}
